<div class="form-inputs"><%= form_for @letter do |f| %>
  <% if @letter.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@letter.errors.count, "error") %> prevented this letter from saving:</h2>
      <ul>
        <% @letter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :title %><br>
  <br>
  <%= f.text_field :title, :class => "letter-title" %><br>
  <br>
  <%= f.label :body %><br><br>
  <%= f.text_field :body, :class => "textarea" %><br>
  <br>
  <%= f.label :author %><br><br>
  <%= f.text_field :author, :class => "letter-author" %><br>
  <br>
<div class="submit-button">
  <%= f.submit %>
</div>
<% end %>
</div>