<div class="form-inputs"><%= simple_form_for @letter do |f| %>
  <% if @letter.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@letter.errors.count, "error") %> prevented this letter from saving:</h2>
      <ul>
        <% @letter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title, placeholder: "Letter Title" %>
  <%= f.input :body, placeholder: "Letter Body"%>
<center>
  <%= f.submit "Submit", class: "btn-large" %>
</center>
<% end %>
</div>