<h1>Write a letter</h1>
 
<%= form_for :letter, url: letters_path do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <br>
  <%= f.label :body %><br>
  <%= f.text_field :body %><br>
  <br>
  <%= f.submit %>
<% end %>