<h1 class="title">
  <%= @letter.title %>
</h1>
<p class="date">
  Submitted <%= time_ago_in_words(@letter.created_at) %> Ago
</p>
 <p class="body">
  <%= @letter.body %>
</p>
	<p>
	<%= link_to 'Edit', edit_letter_path(@letter) %> |
      <%= link_to 'Delete', letter_path(@letter), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
 <div id="comments">
    <h2><%= @letter.comments.count %> Comments</h2>
    <%= render @letter.comments %>
 
    <h3>Add a comment:</h3>
    <%= render "comments/form" %>
  </div>