<!DOCTYPE html>
<html>
<head>
  <title>Openletters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="logo">
		<center>
	<%= link_to image_tag("logo.png"), root_path %>
	</center>
</div>
	<div class="content-wrapper">
<%= yield %>
</div>
</body>
</html>
