<!DOCTYPE html>
<html>
<head>
  <title>Openletters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body class="#26a69a teal lighten-1">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to(content_tag(:i, "add", class: "large material-icons"), new_letter_path, class: "btn-floating btn-large teal darken-4")%>
  </div>
  <div class="site-header">
  <%= link_to(content_tag(:h1, "Open Letters", class: "header center white-text"), root_path )%>
<div class="row center">
        <h5 class="header col s12 light white-text">with great power comes great responsibility.</h5>
      </div>
      </div>
	<div class="container">
<%= yield %>
</div>
</body>
</html>
