<!DOCTYPE html>
<html>
<head>
  <title>Openletters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body class="#00c853 green accent-4">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to(content_tag(:i, "add", class: "large material-icons"), new_letter_path, class: "btn-floating btn-large green darken-4")%>
  </div>
  <div class="site-header">
	<h1 class="header center white-text">Open Letters</h1>
<div class="row center">
        <h5 class="header col s12 light white-text">with great power comes great responsibility.</h5>
      </div>
      </div>
	<div class="container">
<%= yield %>
</div>
</body>
</html>
